# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
DesignTimeBuild/
.dtbcache.v2
CopilotIndices*/
FileContentIndex/
v17/

# build output
bin/
obj/
[Bb]uild/
[Ll]og/
*.cache
*.tmp

# Rider/VS Code (tuỳ dùng)
.idea/
.vscode/

# DotNet tools
/.tools/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# hệ điều hành
Thumbs.db
.DS_Store

# (Bỏ ignore dev config nếu muốn commit appsettings.json)
# appsettings.Development.json   ← XÓA hoặc COMMENT đi

# Nếu có tạo Production riêng thì mới ignore:
# appsettings.Production.json
